<h1 class="font-effect-anaglyph">Códigos & Comandos</h1>

<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rancho&effect=anaglyph">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Poiret One">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone Kaffeesatz">

<% if user_signed_in? %>
  <%= simple_form_for(@command) do |f| %>
    <%= f.error_notification %>
    <div class="panel panel-primary">
      <div class="panel-heading">Criar novo comando</div>
      <div class="panel-body">
        <div class="form-inputs" aria-describedby="sizing-addon1">
          <%= f.input :name %>
          <%= f.input :command %>
          <%= f.input :description %>
          <%= f.association :category %>
        </div>

        <div class="form-actions">
          <%= f.button :submit %>
        </div>
      </div>
  </div>
  <% end %>
<% end -%>
