<%= simple_form_for(@command) do |f| %>
  <%= f.error_notification %>
<div class="panel panel-primary">
  <div class="panel-heading">Command Post</div>
  <div class="panel-body">
    <div class="form-inputs" aria-describedby="sizing-addon1">
    <%= f.input :name %>
    <%= f.input :command %>
    <%= f.input :description %>
    <%= f.association :category %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  </div>
</div>
<% end %>
