<p id="notice"><%= notice %></p>

<p>
  <strong> <%=t '.Name' %> </strong>
  <%= @command.name %>
</p>

<p>
  <strong> <%=t '.Command' %> </strong>
  <%= @command.command %>
</p>

<p>
  <strong> <%=t '.Description' %> </strong>
  <%= @command.description %>
</p>

<p>
  <strong> <%=t '.Category' %> </strong>
  <%= @command.category.name %>
</p>

<%= link_to t('Edit'), edit_command_path(@command) %> |
<%= link_to t('Back'), commands_path %>
