<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @command.name %>
</p>

<p>
  <strong>Command:</strong>
  <%= @command.command %>
</p>

<p>
  <strong>Description:</strong>
  <%= @command.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @command.category.name %>
</p>

<%= link_to t('Edit'), edit_command_path(@command) %> |
<%= link_to t('Back'), commands_path %>
