<h1 class="font-effect-anaglyph">Códigos & Comandos</h1>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rancho&effect=anaglyph">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poiret One">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Yanone Kaffeesatz">
<h8>
  <strong> <%=t '.Name' %> </strong>
  <%= @command.name %>
</h8>
<p></p>
<h8>
  <strong> <%=t '.Command' %> </strong>
  <%= @command.command %>
</h8>
<p></p>
<h8>
  <strong> <%=t '.Description' %> </strong>
  <%= @command.description %>
</h8>
<p></p>
<h8>
  <strong> <%=t '.Category' %> </strong>
  <%= @command.category.name %>
</h8>
<p></p>
<%= link_to ('Editar <span class="glyphicon glyphicon-edit"></span>').html_safe, edit_command_path(@command), :class => "btn btn-primary"%> |
<%= link_to ('<span class="glyphicon glyphicon-chevron-left"></span> Voltar').html_safe, commands_path, :class => "btn btn-primary" %>