<p>
  <strong> <%=t '.Name' %> </strong>
  <%= @command.name %>
</p>

<p>
  <strong> <%=t '.Command' %> </strong>
  <%= @command.command %>
</p>

<p>
  <strong> <%=t '.Description' %> </strong>
  <%= @command.description %>
</p>

<p>
  <strong> <%=t '.Category' %> </strong>
  <%= @command.category.name %>
</p>

<%= link_to ('Editar <span class="glyphicon glyphicon-edit"></span>').html_safe, edit_command_path(@command), :class => "btn btn-primary"%> |
<%= link_to ('<span class="glyphicon glyphicon-chevron-left"></span> Voltar').html_safe, commands_path, :class => "btn btn-primary" %>